[submodule ".vim_runtime/my_plugins/clang_complete"]
	path = .vim_runtime/my_plugins/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule ".vim_runtime/my_plugins/nerdtree-git-plugin"]
	path = .vim_runtime/my_plugins/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim_runtime/my_plugins/nord-vim"]
	path = .vim_runtime/my_plugins/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".vim_runtime/my_plugins/syntastic"]
	path = .vim_runtime/my_plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim_runtime/my_plugins/vim-airline"]
	path = .vim_runtime/my_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim_runtime/my_plugins/vim-clang-format"]
	path = .vim_runtime/my_plugins/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim_runtime/my_plugins/vim-cpp-enhanced-highlight"]
	path = .vim_runtime/my_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule ".vim_runtime/my_plugins/vim-gitgutter"]
	path = .vim_runtime/my_plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".tmux/themes/nord-tmux"]
	path = .tmux/themes/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
